# Uncomment the following line if you wish to install jupyter in your virtual environment
# jupyter
beautifulsoup4
matplotlib
requests
spacy==3.2.3
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.2.0/en_core_web_sm-3.2.0.tar.gz
